.figure2 {
  width: 470px;
  height: 230px;
  margin-top: 30px;
  border-top: 6px solid black;
  border-right: 4px double black;
  border-bottom: 6px dashed black;
  border-left: 2.5px dashed black;
}

.caption {
  font-size: 28px;
  margin-top: 30px;
}
